@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --font-display: "Urbanist",sans-serif;
    --breakpoint-exl: 1920px;
    
}
@layer base{
    
    :root{
        --font-poppins:'Poppins',sans-serif;
    }
    html{
        font-family: var(--font-display);
        scroll-behavior: smooth;
        background-color:#1b1b1b ;
    }
    body {
        
        background-image:
          linear-gradient(rgba(255,255,255,0.02) 1px, transparent 1px),
          linear-gradient(90deg, rgba(255,255,255,0.02) 1px, transparent 1px);
        background-size: 56px 56px;
    }
}
@layer utilities {
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  .font-roboto {
    font-family: 'Roboto', system-ui, sans-serif;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
